<ul class="col-4 m-0 list-group" id="sidebar"></ul>

<div class="col-8" id="menu">
  <h1 id="h1"></h1>
  <form id="task-form" class="border-0 post mt-4">
    <div class="form-group row">
      <label for="example-text-input" class="col-2">Task</label>
      <div class="col-10">
        <input
          class="form-control col-10"
          type="text"
          placeholder="Buying Groceries"
          id="chore"
        />
      </div>
    </div>

    <div class="form-group row">
      <label for="example-date-input" class="col-2">Date</label>
      <div class="col-10">
        <input class="form-control" type="date" id="date" />
      </div>
    </div>

    <div class="form-group row">
      <label for="example-date-input" class="col-2">Value</label>
      <div class="col-10">
        <select class="custom-select form-control" id="importance">
          <option value="Normal">Normal</option>
          <option value="Very Important">Very Important</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-success my-4">Submit</button>
  </form>

  <div id="menu-details"></div>
</div>
