<div>
  <div class="parent">
    <input type="text" class="form-control" id="A" />
  </div>
</div>
<div id="childrenA" class="children"></div>

<div>
  <div class="parent">
    <input type="text" class="form-control" id="B" />
  </div>
</div>
<div id="childrenB" class="children"></div>

<div>
  <div class="parent">
    <input type="text" class="form-control" id="C" />
  </div>
  <div id="childrenC" class="children"></div>
</div>

<!-- <button onclick="window.localStorage.clear();" id="cleanStorage">
  Clear All
</button> -->
