<!-- <input type="text" class="form-control" id="1" />
<input type="text" class="form-control" id="2" />
<input type="text" class="form-control" id="3" />
<input type="text" class="form-control" id="4" />
<input type="text" class="form-control" id="5" />
<input type="text" class="form-control" id="6" />
<input type="text" class="form-control" id="7" />
<input type="text" class="form-control" id="8" /> -->
<form class="">
  <input type="text" class="form-control" id="1" />
  <!-- <button class="btn btn-outline-secondary" type="button" id="+1">+</button> -->
</form>
<div class="">
  <input type="text" class="form-control" id="2" />
  <!-- <button class="btn btn-outline-secondary" type="button" id="+2">+</button> -->
</div>
<div class="">
  <input type="text" class="form-control" id="3" />
  <!-- <button class="btn btn-outline-secondary" type="button" id="+3">+</button> -->
</div>
<div class="">
  <input type="text" class="form-control" id="4" />
  <!-- <button class="btn btn-outline-secondary" type="button" id="+4">+</button> -->
</div>
<div class="">
  <input type="text" class="form-control" id="5" />
  <!-- <button class="btn btn-outline-secondary" type="button" id="+5">+</button> -->
</div>
<div class="">
  <input type="text" class="form-control" id="6" />
  <!-- <button class="btn btn-outline-secondary" type="button" id="+6">+</button> -->
</div>
<div class="">
  <input type="text" class="form-control" id="7" />
  <!-- <button class="btn btn-outline-secondary" type="button" id="+7">+</button> -->
</div>
<div class="">
  <input type="text" class="form-control" id="8" />
  <!-- <button class="btn btn-outline-secondary" type="button" id="+8">+</button> -->
</div>
<div class="">
  <input type="text" class="form-control" id="9" />
  <!-- <button class="btn btn-outline-secondary" type="button" id="+9">+</button> -->
</div>

<!-- <button onclick="window.localStorage.clear();" id="cleanStorage">
  Clear All
</button> -->
