<form class="container">
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Task</label>
    <div class="col-10">
      <input
        class="form-control"
        type="text"
        value="Buying Groceries"
        id="example-text-input"
      />
    </div>
  </div>

  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Date</label>
    <div class="col-10">
      <input
        class="form-control"
        type="date"
        value="2011-08-19"
        id="example-date-input"
      />
    </div>
  </div>

  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Value</label>
    <div class="col-10">
      <select class="custom-select custom-select-sm form-control">
        <option value="1">Normal</option>
        <option value="2">Very Important</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
