body {
  height: 100vh;
}

#job-form {
  background-color: grey;
  width: 100vw;
}

#sidebar {
  background-color: lightgrey;
  height: 100vh;
}

#menu {
  // background-color: rgb(194, 192, 192);
  background-color: lightgrey;

  height: 100vh;
}

.list-group-item {
  width: 100%;
}

#h1{
  font-size:30px;
  text-align:center;
}

#h1,
.list-group-item,
.li-add{
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.default-button{
  font-size:16px;
  border-radius: 4px;
  padding:7px 12px;
}
.active-button{
  background:blue;
  color:#fff;
}
.description{
  margin-top:20px;
}